﻿@model IEnumerable<MvcAuth.Models.ArticleViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to My Blog!</h1>
    @using (
    Html.BeginForm("Index", "Home", FormMethod.Post,new { @class = "form-inline my-2 my-lg-0" }) )
    {
        <input id="SearchBox" type="text" class="form-control mr-sm-2" name="query" />
        <input id="submit" type="submit" class="btn btn-secondary my-2 my-sm-0" value="Search!"/>
    }

    <p class="lead">Top ranking articles..</p>
    @foreach (var item in Model)
    {
        <p>@Html.DisplayFor(modelItem => item.Title)</p>
        <p>
            @Html.ActionLink("Read More", "Details", "Articles",
                new { id = item.Id },
                null)
        </p>
    }

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Keep Connected!</h2>
        <p>
            You can read and add articles freely!
        </p>
        <p>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>About me</h2>
        <p>You can read more about me .. Following new IT articles, reading, travelling and .. </p>
    </div>
    
</div>