﻿@model MvcAuth.Models.ReportViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Report a complaint about comment:</h2>


@using (Html.BeginForm("Create", "Reports",
                       new { id = @ViewBag.id }, FormMethod.Post, null))
                    {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReportDetail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.ReportDetail, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ReportDetail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
