﻿@model MvcAuth.Models.ArticleCommentsViewModel
@using Microsoft.AspNetCore.Authorization


@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<span class="font-italic alert-info">Ranking: @Html.DisplayFor(modelItem => Model.Rank) </span>

<div>
    @Model.Detail
</div>
<div>
    <img src="~/Images/@Model.Image" alt="" />
</div>
<br />
<div>
    Author: @Model.UserName
</div>
<div>
    @Model.CreateDate
</div>
<br />
<br />
@if (Request.IsAuthenticated)
{
    Html.RenderAction("RankArticleView", new { id = @Model.Id });
}
else
{
    <p>
        Please login to Rank this article!
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
}
<h2>Comments</h2>

@foreach (var item in Model.Comments)
{<table>
        <tr>
            <td colspan="2" style="background-color:lavender; border-color:darkblue">
                @Html.DisplayFor(modelItem => item.CommentDetail)
            </td>
        </tr>
        <tr>
            <td>
                <div class="glyphicon-italic"> @Html.DisplayFor(modelItem => item.UserName)</div>
            </td>
            <td>
                <div class="glyphicon-italic">  @Html.DisplayFor(modelItem => item.CommentDate)</div>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    @if (Request.IsAuthenticated) {


                        @Html.ActionLink("Report this comment", "../Reports/Create", new { id = item.Id });
                    }

                </p>
            </td>
        </tr>
    </table>
    <hr />
}

<br />

@if (Request.IsAuthenticated)
{
    Html.RenderAction("CreateCommentView", new { id = @Model.Id });
}
else
{
    <p>
        Please login to write a comment!
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
}
<p>
    @*@if ((await AuthorizationService.AuthorizeAsync(User, Model, Operations.Edit)).Succeeded)
            {
            <p>

                @Html.ActionLink("Edit", "Edit", new { id = Model.Article.Id }) |
            </p>
        }*@

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


