﻿@model IEnumerable<MvcAuth.Models.ArticleViewModel>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Articles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayFor(modelItem => item.Title)
        </th>
      
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>

    </tr>
    <tr>
        <td>
            @Html.ActionLink("Details","Details", new { id = item.Id }) |

        </td>
    </tr>
    </table>
    }


