﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
         @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage",new { title = "Manage" }, new { @class = "nav-link" })
    </li>
    <li  class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
    </li>

</ul>
}
