﻿@using Microsoft.AspNet.Identity
<div class="panel-body">
    @using (Html.BeginForm("RankArticle", "Articles", new { id = @ViewBag.Id, userId = User.Identity.GetUserId()  }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>Rank this article!</p>
        <div class="row">
            <div class="col-1">
                @Html.DropDownList("Rank", (List<SelectListItem>)ViewBag.RankList, "Select ...")
            </div>
            <div class="col-11">
                <p><input type="submit" value="Rank" class="btn btn-sm btn-primary" /></p>
            </div>

        </div>
    }
</div> <!-- End Panel Body-->
